
.ipynb_checkpoints/api_escola_inteligente-checkpoint.ipynb
.ipynb_checkpoints/api_partidos-checkpoint.ipynb
.ipynb_checkpoints/csv_cirurgias-checkpoint.ipynb
.ipynb_checkpoints/csv_eleitorado-checkpoint.ipynb
.ipynb_checkpoints/csv_pronatec-checkpoint.ipynb
.ipynb_checkpoints/csv_prouni-checkpoint.ipynb
.ipynb_checkpoints/csv_senadores-checkpoint.ipynb
.ipynb_checkpoints/excel_filmes-checkpoint.ipynb
.ipynb_checkpoints/Introcução-checkpoint.ipynb
.ipynb_checkpoints/mapa_educação-checkpoint.ipynb
.ipynb_checkpoints/mapa_eleicoes_2018_2turno-checkpoint.ipynb
.ipynb_checkpoints/url_copa_do_mundo-checkpoint.ipynb
